<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="shortcut icon" href="/img/favicon.png" />
    <!-- Place favicon.png in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-1.min.css">
    <link rel="stylesheet" href="/css/LineIcons.2.0.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/css/custom_styles.css">
    <link rel="stylesheet" href="/css/custom_folder_icon.css">

    <title>{{{ pageTitle }}} - NFT Genius</title>
</head>
