<section id="home" class="hero-section">
    <div class="container">
        <div class="col-12 col-lg-10 p-3 mx-auto text-center big-white-modal d-flex flex-column justify-content-center align-items-center">
            <h2>We are creating your NFTs</h2>
            <h4>This could take a while...</h4>
            <p>
                We will email you when your NFTs are ready.
            </p>
            <script
                    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tuxhzmzv.json" background="transparent"
                           speed="1"
                           style="max-width: 500px;position: relative;top: 50px;" loop autoplay></lottie-player>

            <div class="row container nft-image-container mx-auto">
                <!-- Preloader -->
                <div class="col-5 col-lg-3 p-2 custom-preloader-container">
                    <div class="custom-preloader">
                        <div class="custom-preloader-inner">
                            <div class="custom-preloader-icon">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End Preloader -->
            </div>
        </div>
    </div>
</section>

<script>
    localStorage.removeItem('userUuid');

    try {
        let interval = setInterval(function () {
            // fetch call to updateNftImageInView url
            fetch('/nft-creation/are-new-images', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userUuid: `{{ userUuid }}`
                })
            })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        let nftImageContainer = document.querySelector('.nft-image-container');
                        if (nftImageContainer.querySelectorAll('.nft-image').length === 3) {
                            // create custom preloader and append it last
                            let customPreloader = document.createElement('div');
                            customPreloader.classList.add('custom-preloader');
                            customPreloader.setAttribute('style', 'width: 100% !important; height: 100% !important;');
                            customPreloader.innerHTML = `
                            <div class="">
                                <div class="custom-preloader-icon" style="position: relative; right: 50px;">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>`;
                            let div = document.createElement('div');
                            div.classList.add('col-5', 'col-lg-3', 'p-2', 'm-auto');
                            div.appendChild(customPreloader);
                            nftImageContainer.appendChild(div);
                            console.log(nftImageContainer)
                            // close sockets
                            clearInterval(interval);
                            return;
                        }

                        let imagePath = '';
                        console.log({data})
                        if (data.imagePaths[0] && nftImageContainer.querySelectorAll('.nft-image').length === 0) imagePath = data.imagePaths[0];
                        else if (data.imagePaths[1] && nftImageContainer.querySelectorAll('.nft-image').length === 1) imagePath = data.imagePaths[1];
                        else if (data.imagePaths[2] && nftImageContainer.querySelectorAll('.nft-image').length === 2) imagePath = data.imagePaths[2];
                        else return;

                        let nftImage = document.createElement('img');
                        nftImage.classList.add('nft-image');
                        nftImage.src = imagePath;
                        let div = document.createElement('div');
                        div.classList.add('col-5', 'col-lg-3', 'p-2');
                        div.appendChild(nftImage);
                        nftImageContainer.appendChild(div);
                        // destroy the preloader
                        let preloader = document.querySelector('.custom-preloader-container');
                        if (preloader) {
                            preloader.parentNode.removeChild(preloader);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        }, 3000);
    } catch (e) {
        console.log(e);
    }


</script>