<section id="home" class="hero-section">
    <div class="container">
        <div class="col-12 col-lg-10 p-3 mx-auto text-center big-white-modal d-flex flex-column justify-content-center align-items-center">
            <h2>We are creating your NFTs</h2>
            <h4>This could take a while...</h4>
            <p>
                We will email you when your NFTs are ready.
            </p>
            <script
                    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tuxhzmzv.json" background="transparent" speed="1"
                           style="width: 500px;position: relative;top: 50px;" loop autoplay></lottie-player>
        </div>
    </div>
</section>

<script>
    localStorage.removeItem('userUuid');
</script>