<!-- ========================= hero-section start ========================= -->
<section id="home" class="hero-section">
    <div class="hero-content-wrapper">
        <h1 class="text-white wow fadeInDown text-center" data-wow-delay=".1s">Upload your folder of layers</h1>
    </div>
    <div class="container">
        <div class="col-12 col-lg-8 p-3 mx-auto uploader-background">
            <div class="wow fadeInLeft folder" onclick="openFolderBrowser()" data-wow-delay=".1s">
                <div class="back"></div>
                <div class="cover"></div>
                <div class="paper"></div>
                <div class="paper"></div>
                <div class="paper"></div>
            </div>
            <p class="wow fadeInLeft" data-wow-delay=".1s">Start a new project connecting your layers folder.</p>
            <p class="wow fadeInLeft" data-wow-delay=".1s">Images (.png files) and gifs (.gif files) are supported</p>
            <a class="theme-btn wow fadeInLeft upload-folder-btn" onclick="openFolderBrowser()" id="folderLink" data-wow-delay=".1s">
                Choose folder
            </a>
            <input type="file" name="layersFolder" id="layersFolder" onchange="layersFolderUploaded(this)" class="d-none" data-multiple-caption="{count} files selected" webkitdirectory multiple />
        </div>
    </div>
</section>
<!-- ========================= hero-section end ========================= -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function openFolderBrowser() {
        const layersFolder = document.getElementById('layersFolder');
        layersFolder.click();
    }

    function layersFolderUploaded(input) {

        let userUuid = Math.random().toString(36).substring(7);
        localStorage.setItem('userUuid', userUuid);

        let formData = new FormData();
        for (const file of input.files) {
            let folderStructure = file.webkitRelativePath.split('/');
            folderStructure.shift();
            folderStructure = folderStructure.join('/');
            // TODO check error when upload a folder in Safari
            formData.append(`layersFolder-${userUuid}`, file);
        }
        formData.append(`userUuid`, userUuid);

        const options = {
            method: 'POST',
            body: formData,
        };

        fetch('/nft-creation/post-layers-folder', options)
            .then(response => response.json())
            .catch(error => console.error('Error:', error))
            .then(response => {
                if (response && response.success === false) {
                    return errorMessage(response.message);
                }

                window.location.href = response.redirectTo;

            });
    }

    function errorMessage(message) {
        return Swal.fire({
            width: 300,
            position: 'bottom-end',
            icon: 'error',
            title: 'Oops...',
            text: message,
        })
    }

</script>