.folder {
    position: relative;
    width: 120px;
    height: 84px;
    margin: 50px auto 0;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    cursor: pointer;
}

.folder:before {
    content: '';
    width: 50%;
    height: 10px;
    border-radius: 6px 6px 0 0;
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #b1e8fc, #6DD5FA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #b1e8fc, #6DD5FA);
    position: absolute;
    top: -10px;
    left: 0;
}

.hero-section {
    /*padding-top: 70px !important;*/
    padding-bottom: 0 !important;
}

.uploader-background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 24px;
    height: 450px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.upload-folder-btn {

}