/* HIDE ARROW ON INPUTS TYPE NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* HIDE ARROW ON INPUTS TYPE NUMBER */

.form-control::placeholder {
    text-align: center;
    font-size: 15px;
}

.form-control {
    text-align: center;
}

.form-control.custom {
    border: none;
    /*box-shadow: 4px 4px 10px #c1c7e4;*/
    box-shadow: 0 0 20px #a4afe9;
    padding: 10px 20px;
}

textarea {
    resize: none;
    text-align: left !important;
}


textarea#csvTextarea {
    /*box-shadow: 4px 4px 10px #c1c7e4;*/
    box-shadow: 0 0 20px #a4afe9;
}

textarea#csvTextarea::placeholder {
    font-size: 15px;
    text-align: left !important;
}

.navbar {
    min-height: 50px !important;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-brand:hover {
    color: #b2cbfc;
}

.hero-section {
    padding-top: 150px !important;
    /*padding-bottom: 0 !important;*/
    min-height: 100vh !important;
}

.uploader-background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 24px;
    height: 450px;
    box-shadow: 4px 4px 7px #081760;
}

.big-white-modal {
    padding: 50px 20px;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 4px 4px 7px #081760;
}
.white-modal {
    padding: 50px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px #a4afe9;
}

.text-muted {
    font-size: 10px;
}

.btn-blockchain-toggle {
    width: 304px;
}

.btn-blockchain-toggle-container {
    align-items: center;
    border: 2px solid #1832B1;
    border-radius: 12px;
    box-sizing: border-box;
    display: grid;
    height: 58px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.btn-blockchain-selection {
    background-color: #1832B1;
    border-radius: 8px;
    height: 42px;
    position: absolute;
    top: 7px;
    transition: left .5s;
    z-index: 0;
}

.btn-blockchain-plain {
    position: relative;
    z-index: 1;
    border-style: none;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.option-2 {
    background-image: linear-gradient(#365ae1 0%, #244ae2 4.66%, #1029a6 76.69%, #1029a6 100%);
}

.theme-btn.next-button {
    /*background-color: #1832B1;*/
    /*color: #FFFFFF;*/
    /*border-radius: 8px;*/
    /*border-color: #1832B1;*/
    /*height: 42px;*/
    /*transition: left .5s;*/
    /*box-shadow: 4px 4px 10px #c1c7e4;*/
    box-shadow: 0 0 20px #a4afe9;
    padding: 9px 18px;
    /*transition: transform 0.3s ease-in-out;*/
}

.theme-btn.back-button {
    box-shadow: 0 0 20px #a4afe9;
    background-image: linear-gradient(to right, #365ae1 0%, #6286eb 50%, #365ae1 100%);
    /*background-image: linear-gradient(#365ae1 0%, #244ae2 4.66%, #1029a6 76.69%, #1029a6 100%);*/
    padding: 9px 18px;
}

.delete-text {
    text-decoration: underline;
    text-underline-color: red;
    color: red;
    cursor: pointer;
}

.address-container {}

.add-address-text {
    font-size: 14px;
    font-weight: bold;
    color: #1832B1;
    margin-bottom: 10px;
    margin-top: 16px;
    text-align: left;
    cursor: pointer;
}

.trait-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: grab;
}

.layer-to-order {
    background-color: #FFFFFF;
    border-radius: 10px;
    /*box-shadow: 4px 4px 10px #c1c7e4;*/
    box-shadow: 0 0 20px #a4afe9;
    padding: 14px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layer-name {
    font-size: 14px;
    font-weight: bold;
    color: #1832B1;
    text-align: left;
}

.layer-files {
    font-size: 14px;
    font-weight: bold;
    color: #aab0cb;
    text-align: left;
}

.theme-btn.btn-primary-custom {
    box-shadow: 0 0 20px #a4afe9;
    padding: 9px;
    font-size: 14px;
    background-image: linear-gradient(to right, #365ae1 0%, #6286eb 50%, #365ae1 100%);
}

.variants-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.variant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.variant-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.copy-from-csv {
    min-height: 275px;
}

.layer-title {
    box-shadow: 0 0 20px #a4afe9;
    padding: 20px 60px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@media (max-width: 450px)
{

    .layer-title {
        padding: 20px 20px 20px 0;
    }

    .layer-title h4 {
        font-size: 16px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.allocate-trait-container {
    margin-bottom: 24px;
}
/* animation */
.hero-section .hero-image {
    text-align: center;
    position: relative;
    z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .hero-section .hero-image {
        display: none;
    }
}

.hero-section .hero-image .main-image {
    z-index: 0;
}

.hero-section .hero-image .h2-move-1 {
    position: absolute;
    left: 42%;
    -webkit-animation: bounce 3s linear infinite;
    animation: bounce 3s linear infinite;
}

.hero-section .hero-image .h2-move-2 {
    position: absolute;
    left: 45%;
    top: 68%;
    -webkit-animation: bounce 3s linear infinite;
    animation: bounce 3s linear infinite;
}

.hero-section .hero-image .h2-move-3 {
    position: absolute;
    left: 47%;
    top: 26%;
    z-index: -1;
    -webkit-animation: bounce 4s linear infinite;
    animation: bounce 4s linear infinite;
}

.hero-section .hero-image .dot-dot {
    position: absolute;
    left: -10%;
    top: -14%;
    height: 113%;
    -webkit-animation: rotate2d 30s linear infinite;
    animation: rotate2d 30s linear infinite;
    width: 100%;
}
/* animation */