<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>

    {{> preloader }}

    {{> header }}

    {{{ body }}}

<!--    <a href="#" class="scroll-top">-->
<!--        <i class="lni lni-chevron-up"></i>-->
<!--    </a>-->

<!--    {{> footer }}-->

    {{> scripts }}

</body>
</html>